/* pour les petit ecran */


body
{
  margin: 0;
  padding: 0; 
 display:table; 
  
  
} 
.title-page{
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 10px 0;
  color: #121212;
  font-weight: bold;
  margin-left: 30px;

}
.text-page{

  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  margin-left: 30px;

}
.text-souligne{
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  text-decoration: underline;
  margin-left: 30px;
  font-weight: 800;
  color: #121212;

}

/* coleur des titres et des texte de l'ensemble du site  */

.title-page , .text-page{
  color: #4f0000;
}

.header{
  
  background-image: none;
  
  /* background-color: royalblue; */
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
 


}
.hamburger{
  height: 350px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
   /* background-color: saddlebrown;  */
 
}
.hamburger img{
width: 100%;
}


#btn-menu{
  
  color: #4f0000;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  cursor: pointer;
  
}



.lignes{
  margin-top: 3px;
  height: 5px;
  width: 30px;
   background-color:   #4f0000; 
  border-radius: 5px;
}


 #nav{
   
   background: transparent  ; 
  
   display: flex;
   justify-content: center;
   align-items: center;
   width: 360px;   
} 

#nav2{
/*   
  display: block; */
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: -200px;
  transform: translateY(-400px);
  background: #1E750D;
  color: #4f0000;
   width: 360px; 
  height: 300px;
  line-height: 1.5;
  opacity: 0;
  z-index: 10; 
  border: #333 solid 1px;
     
}

.navigation li:hover > .submenu{  
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  transform: translateX(+200px);
}


/* animation du menu */
.nav-reponsive{

  animation: apparition 0.4s ease-in-out forwards

}

@keyframes apparition{
  100%{
    opacity: 1;
    transform: translateY(-90px);
    
  }
} 

.seance-container{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.media{
  display: none;
}

.main-container-index{
  color: #4f0000;
  width: auto;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.seance-container{
  display: flex;
 
}

.box-right{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer{
  margin-bottom: 5px;
}
/* page histo */
.main-container-index a{
  color: #4f0000;
}

.menu-histo{
  display: none;
}


/* page technique */

.container-tech{
  border:black solid;
}

.info-tech{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-tech h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 color:#4f0000 ;
}

.info-tech img{
  width: 500px;
}

/*page seance*************/

.main-container-seance{
width: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;

}

/*page trombi*/

.main-container{
  width: auto;
  display: flex;
  color: #333;
  
}
.container-card{
  flex-wrap: wrap;
}
.container-card2{
  flex-wrap: wrap;
}

/* page adhésion************/
.container-adhesion{
  color: #333;
}

/* toutes es page de seance de travail*******/

.row1{
  flex-wrap: wrap;
}
.row2{
  flex-wrap: wrap;
}